/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

h1 {
  font-weight: normal;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.transparent {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-light-gray {
  color: #aaa;
}

.text-error,
.text-error>a {
  color: #cc0000;
}

.chart-container {
  padding: 0 30px;
}

.navigation-bar select,
.navigation-bar input,
.navigation-bar button {
  margin: 5px;
  background: #777;
  color: #eee;
  height: 30px;
  border: 0 none;
}

.navigation-bar label {
  margin-left: 20px;
  margin-right: 5px;
  color: #eee;
}

.navigation-bar button {
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.navigation-bar input[type=text] {
  padding: 0 4px;
  border: 0 none;
  border-radius: 2px;
}

.navigation-bar .no-wrap {
  white-space: nowrap;
}

@media screen and (max-width: 760px) {
  .navigation-bar .no-wrap {
    display: block;
    text-align: center;
    clear: both;
  }
}
